<!-- extend base template -->
{% extends 'index.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- extend block -->
{% block title %} About {% endblock %}
<!-- extend block -->

<!-- extend block -->
{% block body %}
<!-- extend block -->

<!-- body -->
<div class="container">
  <div class="card my-5 text-bg-light">
    <div class="card-body px-5">
      <h5 class="card-title">What is MTSA?</h5>
      <p class="card-text">
        MTSA (Masai Technical Student Association) voting system, as the name
        suggests, is a web application that provides a voting platform for the
        students. The system can be interacted with either as an organizer
        (university staff) or as a voter (university students).
      </p>
      <p class="card-text">
        The organizer is responsible for the creation of polls (objects in the
        system that represent actual elections), and to register contending
        candidates to the polls. The organizer can close a poll once the
        election is over. This will ensure that no further voting continues on
        the poll.
      </p>
      <p class="card-text">
        The voter is responsible for casting votes on polls created by an
        organizer. The voter interacts with the ballot-box (a system object that
        represents an actual ballot box) to create a vote for their preferred
        candidate. A voter can only vote once on any poll.
      </p>
      <p class="card-text">
        Both the organizer and the voter can access poll results and generate
        poll reports at any point as long as the organizer has not deleted the
        poll. The aim of having results accessible to both parties at any time
        is to promote transparency, fairness and accountability on this digital
        democracy platform.
      </p>
    </div>
  </div>
  <div class="card mb-5 text-bg-light">
    <div class="card-body px-5">
      <h5 class="card-title">Why is MTSA voting system</h5>
      <p class="card-text">
        The Masai Technical Training Institute management had the following
        reasons to create this platform.
      </p>
      <ul>
        <li>
          <p class="card-text">
            For election organizers, planning elections is synonymous with high
            costs: you need to find an appropriate physical space to hold the
            election, inform eligible voters, prepare voting forms and organize
            the vote count. However, with an online voting system, you have
            maximum flexibility and efficiency in election planning and ballot
            creation as it is done online. Observe voter turnout in real-time
            and engage voters with a few mouse clicks.
          </p>
        </li>
        <li>
          <p class="card-text">
            Paper-based voting is both cost-intensive and burdensome for the
            environment. One of the benefits of online voting is that they don’t
            require many resources: compared to physical elections, online
            voting reduce CO2 emissions by 98%. Conduct an environmentally
            friendly election and save paper, printing and delivery costs by
            shifting online. Additionally, save on personnel and time expense
            and skip the drawn-out manual vote count process by using an online
            voting system.
          </p>
        </li>
        <li>
          <p class="card-text">
            By eliminating the use of physical ballots and manual vote counting
            you can avoid result-distorting mistakes such as loss of voting
            documents and miscounted votes. Automatic vote counting with MTSA
            voting system allows you to access results during and after the
            election. Reports can also be generated.
          </p>
        </li>
        <li>
          <p class="card-text">
            Online election security measures target system availability,
            elimination of potential manipulations, as well as compliance with
            data protection and security. MTSA voting system uses mathematical
            and cryptographic methods in adhering to fundamental democratic
            principles.
          </p>
        </li>
        <li>
          <p class="card-text">
            Voting should be simple, location-independent and accessible. This
            system aims to reduce barriers to participation and offer eligible
            voters secure online voting in order to boost turnout. Adding the
            option to vote online allows eligible voters to cast their votes at
            any time within the election period and from any location.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- body -->

<!-- extend block -->
{% endblock %}
<!-- extend block -->
