<!-- extend base template -->
{% extends 'index.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- title -->

<!-- extend block -->
{% block title %} Home {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->

{% block body %}

<!-- home page -->
<div class="landing-page">
  <!-- intro 1 -->
  <div class="d-flex align-items-center intro1-img">
    <div class="m-5">
      <h1 class="mt-3 mb-3">
        Masai Technical Training Institute Voting System
      </h1>
      <p class="mt-3 mb-3 fs-5">
        Conduct remote elections and voting without reputational or interference
        risks.
      </p>
      <a href="{% url 'how-it-works' %}" class="btn btn-success mt-3 mb-3"
        >Learn more</a
      >
    </div>
  </div>
  <!-- intro 1 -->

  <!-- intro 2 -->
  <div class="bg-light">
    <div class="d-flex align-items-center justify-content-evenly container">
      <div>
        <h1 class="p-5 fs-1">Conduct elections without risk</h1>
      </div>
      <div>
        <p class="p-5 fs-5 fst-italic" style="width: 750px">
          Conduct online elections with complete confidence in their
          reliability. MTSA's voting system is built mainly focused on integrity
          and transparency.
        </p>
      </div>
    </div>
  </div>
  <!-- intro 2 -->

  <!-- intro 3 -->
  <div class="p-4">
    <h1 class="text-center mt-3 mb-3">
      Make smarter decisions with innovative technologies
    </h1>
    <p class="text-center mt-3 mb-3 fs-5">
      With MTSA's voting system, your elections will be fair and very much to
      your convenience. Masai Technical Training Institute is proud to present
      it's voting platform as a step forward in promoting democracy within the
      institute.
    </p>

    <!--  -->
    <div class="container pt-5 pb-5">
      <div class="d-flex align-items-center mb-5">
        <div class="m-5">
          <h2>Full transparency and verifiability of elections</h2>
          <br />
          <p class="fs-5">
            The MTSA's voting system system is based on modern technologies,
            which makes voting secure and immutable. All data that enters the
            system (votes and voting results) cannot be replaced or deleted.
          </p>
        </div>
        <div>
          <img
            class="intro3-img"
            src="https://images.pexels.com/photos/1181406/pexels-photo-1181406.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt=""
          />
        </div>
      </div>
      <div class="d-flex align-items-center mb-5">
        <div>
          <img
            class="intro3-img"
            src="https://images.pexels.com/photos/3184292/pexels-photo-3184292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
          />
        </div>
        <div class="m-5">
          <h2>Security at every stage</h2>
          <br />
          <p class="fs-5">
            Security at every stage is an important component that ensures the
            security of our solution: we protect elections from interference by
            any third party, including even election organizers.
          </p>
        </div>
      </div>
      <div class="d-flex align-items-center mb-5">
        <div class="m-5">
          <h2>Availability for all voters</h2>
          <br />
          <p class="fs-5">
            Voting from a digital device eliminates the need for voters to
            travel to university grounds. This can have a positive impact on
            voter turnout.
          </p>
        </div>
        <div>
          <img
            class="intro3-img"
            src="https://images.pexels.com/photos/3183127/pexels-photo-3183127.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
          />
        </div>
      </div>
      <hr />
      <div class="text-center">
        <a href="{% url 'about' %}" class="btn btn-lg btn-outline-success mt-5"
          >Learn more about MTSA's voting system</a
        >
      </div>
    </div>
    <!--  -->
  </div>
  <!-- intro 3 -->

  <!-- intro 4 -->
  <div class="pt-4 bg-light">
    <div class="container">
      <h1 class="text-center mt-3 mb-3">Key features tailored to your needs</h1>
      <p class="text-center mt-3 mb-3 fs-5">
        Our solution includes many features and can be customized to suit your
        needs.
      </p>
      <hr />
      <div
        class="mt-5 d-flex align-items-center justify-content-evenly flex-wrap"
      >
        <div class="p-4" style="width: 500px">
          <h3>
            <i class="bi bi-check2-all"></i> Flexible voter identification
          </h3>
          <br />
          <p>
            Our system offers several ways to identify voters – via a link in an
            email or text message, or via a QR code. We can also connect Voting
            App to any other identification system or develop a completely new
            one.
          </p>
        </div>
        <div class="p-4" style="width: 500px">
          <h3>
            <i class="bi bi-check2-all"></i> Single sign-on for organizers
          </h3>
          <br />
          <p>
            Your employees will have one-stop access to the MTSA's voting system
            Organizer panel using a private key that can be used instead of a
            password. Control access to the Organizer panel and analytics as you
            see fit.
          </p>
        </div>
        <div class="p-4" style="width: 500px">
          <h3>
            <i class="bi bi-check2-all"></i> Two solution types: cloud or on
            premises
          </h3>
          <br />
          <p>
            We have a flexible approach to providing the MTSA's voting system
            solution to customers. We can deploy and configure the system on our
            servers or perform a local installation at the customer's
            facilities.
          </p>
        </div>
        <div class="p-4" style="width: 500px">
          <h3><i class="bi bi-check2-all"></i> Several types of ballots</h3>
          <br />
          <p>
            Voters can choose one or more winners, distribute points between the
            answer options, or use the For/Against/Abstain format when voting
            for a proposal.
          </p>
        </div>
        <div class="p-4" style="width: 500px">
          <h3><i class="bi bi-check2-all"></i> Instant vote count</h3>
          <br />
          <p>
            Voting results are published immediately after voting ends, so our
            system is ideal for voting during meetings, instant polls at
            conferences, or a quick second round of voting in the event of a
            tie.
          </p>
        </div>
        <div class="p-4" style="width: 500px">
          <h3><i class="bi bi-check2-all"></i> Observing the voting process</h3>
          <br />
          <p>
            We build confidence in voting and its results with a vote monitoring
            app. The blockchain technology at the heart of our system allows us
            to organize the monitoring procedure in real time.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- intro 4 -->

  <!-- intro 5 -->
  <div class="intro5-bg p-5 d-flex align-items-center">
    <div class="p-5">
      <h1>Individual support at every stage</h1>
      <br />
      <p class="fs-5">
        Leverage our expertise at every stage of your voting process for maximum
        success. Our experts are familiar with all the nuances of making
        collective decisions using online voting.
      </p>
      <br />
      <a href="" class="btn btn-lg btn-success">Help center</a>
    </div>
  </div>
  <!-- intro 5 -->
</div>
<!-- home page -->

{% endblock %}

<!-- extend block -->
