<div
  class="modal fade"
  id="candidateModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="candidateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register candidate</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'register-candidate' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          <!-- csrf & form -->
          {% csrf_token %}
          <!-- csrf & form -->

          <div class="mb-3">
            <label for="image" class="form-label">Candidate image</label>
            <input type="file" class="form-control" name="image" required />
          </div>
          <!-- if -->
          {% if all_polls %}
          <!-- if -->

          <select class="form-select mb-3" name="poll_id">
            <option selected>Poll...</option>

            <!-- for -->
            {% for poll in all_polls %}
            <!-- for -->

            <option value="{{ poll.id }}">{{ poll.seat }}</option>

            <!-- endfor -->
            {% endfor %}
            <!-- endfor -->
          </select>

          <!-- endif -->
          {% endif %}
          <!-- endif -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. John"
              name="first_name"
              required
            />
            <label for="first_name">First name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. Doe"
              name="last_name"
              required
            />
            <label for="last_name">Last name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="ID number"
              name="personal_id"
              required
            />
            <label for="personal_id">ID number</label>
          </div>
          <div class="form-floating mb-3">
            <select
              class="form-control"
              placeholder="your organization"
              name="department"
              required
            >
              <option selected>Choose your department</option>
              <option value="Procurement and Logistics">
                Department of Procurement and Logistics
              </option>
              <option value="Economics">Department of Economics</option>
              <option value="Accounting and Finance">
                Department of Accounting and Finance
              </option>
              <option value="Business Administration">
                Department of Business Administration
              </option>
              <option value="Engineering">Department of Engineering</option>
              <option value="Construction and Textile">
                Department of Construction and Textile
              </option>
              <option value="Entrepreneurship and Technology">
                Department of Entrepreneurship and Technology
              </option>
              <option value="Leadership and Management">
                Department of Leadership and Management
              </option>
            </select>
            <label for="organization">Department</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              placeholder="Candidate bio"
              name="bio"
              required
            ></textarea>
            <label for="organization">Bio</label>
          </div>
          <hr />
          <button type="submit" class="btn btn-success container-fluid">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
