<div
  class="modal fade"
  id="candidateModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="candidateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register candidate</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'register-candidate' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          <!-- csrf & form -->
          {% csrf_token %}
          <!-- csrf & form -->

          <div class="mb-3">
            <label for="image" class="form-label">Candidate image</label>
            <input type="file" class="form-control" name="image" required />
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. John"
              name="first_name"
              required
            />
            <label for="first_name">First name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. Doe"
              name="last_name"
              required
            />
            <label for="last_name">Last name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="ID number"
              name="personal_id"
              required
            />
            <label for="personal_id">ID number</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. school of public health"
              name="department"
              required
            />
            <label for="country">Department</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control"
              placeholder="Candidate bio"
              name="bio"
              required
            ></textarea>
            <label for="organization">Bio</label>
          </div>
          <hr />
          <button type="submit" class="btn btn-success container-fluid">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
