<div
  class="modal fade"
  id="candidateModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="candidateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Register candidate</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="{% url 'register-candidate' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          <!-- csrf & form -->
          {% csrf_token %}
          <!-- csrf & form -->

          <div class="mb-3">
            <label for="image" class="form-label">Candidate image</label>
            <input type="file" class="form-control" name="image" required />
          </div>
          <!-- if -->
          {% if all_polls %}
          <!-- if -->

          <select class="form-select mb-3" name="poll_id">
            <option selected>Poll...</option>

            <!-- for -->
            {% for poll in all_polls %}
            <!-- for -->

            <option value="{{ poll.id }}">{{ poll.seat }}</option>

            <!-- endfor -->
            {% endfor %}
            <!-- endfor -->
          </select>

          <!-- endif -->
          {% endif %}
          <!-- endif -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. John"
              name="first_name"
              required
            />
            <label for="first_name">First name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="e.g. Doe"
              name="last_name"
              required
            />
            <label for="last_name">Second name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="johndoe@example.com"
              name="email"
            />
            <label for="email">Email</label>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="id_type">ID type</label>
            <select class="form-select" name="id_type">
              <option selected>Choose...</option>
              <option value="national id">National ID</option>
              <option value="passport">Passport</option>
            </select>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="ID number"
              name="personal_id"
              required
            />
            <label for="personal_id">ID number</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="your country"
              name="country"
              required
            />
            <label for="country">Country</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="your organization"
              name="organization"
              required
            />
            <label for="organization">Organization</label>
          </div>
          <hr />
          <button type="submit" class="btn btn-success container-fluid">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
