<!-- extend base template -->
{% extends 'app.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- title -->

<!-- extend block -->
{% block title %} Dashboard {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->

{% block body %}

<!-- home page -->
<div class="dashboard d-flex" style="height: 100vh">
  <div class="dash-menu bg-light border-end p-3" style="width: 20%">
    <div class="m-auto" style="width: fit-content">
      <a class="navbar-brand" href="{% url 'home-page' %}"
        ><img
          src="{% static 'img/logo.png' %}"
          alt="logo"
          width="75"
          height="75"
      /></a>
    </div>
    <hr />
    <div class="mt-3 mb-3">
      <button
        class="btn btn-dark container-fluid mb-3"
        data-bs-toggle="modal"
        data-bs-target="#updatePollModal"
      >
        Edit poll
      </button>
      <a
        href="{% url 'delete-poll' this_poll.id %}"
        class="btn btn-danger container-fluid mb-3"
      >
        Delete poll
      </a>
    </div>
  </div>
  <div class="dash-body m-3 dash-overflow" style="width: 80%">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a
            href="{% url 'organizers-dashboard' %}"
            style="text-decoration: none"
            ><i class="bi bi-sliders"></i> Console</a
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <i class="bi bi-box-seam"></i> Polls
        </li>
      </ol>
    </nav>

    <hr />

    <!-- if -->
    {% if this_poll %}
    <!-- if -->

    <h4 style="text-decoration: underline">{{ this_poll.seat }}</h4>

    <br />

    <p class="fs-5">{{ this_poll.intro }}</p>

    <!-- if -->
    {% if this_poll.open == True %}
    <!-- if -->

    <button class="btn btn-lg btn-success disabled mb-3">Status: Open</button>

    <!-- else -->
    {% else %}
    <!-- else -->

    <button class="btn btn-lg btn-warning disabled mb-3">Status: Closed</button>

    <!-- endif -->
    {% endif %}
    <!-- endif -->

    <br />

    <!-- if -->
    {% if all_candidates %}
    <!-- if -->

    <h4>Contending candidates:</h4>

    <div class="d-flex flex-wrap align-items-center">
      <!-- for -->
      {% for candidate in all_candidates %}
      <!-- for -->

      <a
        href="{% url 'view-candidate' candidate.id %}"
        style="text-decoration: none"
        class="text-dark"
      >
        <div class="card dash-body-elem shadow m-3" style="width: 18rem">
          <img
            src="{{ candidate.image.url }}"
            class="card-img-top"
            alt="{{ candidate.first_name }}"
          />
          <div class="card-body">
            <p class="card-text">
              <span class="fw-bold">ID:</span>
              <span>{{ candidate.personal_identification }}</span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Name:</span>
              <span>{{ candidate.first_name }} {{ candidate.last_name }}</span>
            </p>
            <p class="card-text">
              <span class="fw-bold">Organization:</span>
              <span>{{ candidate.organization }}</span>
            </p>
          </div>
        </div>
      </a>

      <!-- endfor -->
      {% endfor %}
      <!-- endfor -->
    </div>

    <!-- else -->
    {% else %}
    <!-- else -->

    <h2 style="text-decoration: underline" class="text-danger">
      No Candidates have been linked to this poll yet
    </h2>

    <!-- endif -->
    {% endif %}
    <!-- endif -->

    <br />

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="fw-bold">Important dates</span>
      </li>
      <li class="list-group-item">
        <span class="fw-bold">voting begins:</span>
        <span>{{ this_poll.begin_date }}</span>
      </li>
      <li class="list-group-item">
        <span class="fw-bold">voting ends:</span>
        <span>{{ this_poll.end_date }}</span>
      </li>
    </ul>

    <br />

    <div class="d-flex mb-3">
      <a
        href="{% url 'poll-results' this_poll.id %}"
        class="btn btn-primary m-1"
        >View results</a
      >

      <!-- if -->
      {% if this_poll.open == True %}
      <!-- if -->

      <a href="{% url 'close-poll' this_poll.id %}" class="btn btn-primary m-1"
        >Close poll</a
      >

      <!-- endif -->
      {% endif %}
      <!-- endif -->
    </div>

    <!-- endif -->
    {% endif %}
    <!-- endif -->

    <!-- include poll modal -->
    {% include 'organizers/update_poll_form.html' %}
    <!-- include poll modal -->

    <!-- include candidate modal -->
    {% include 'organizers/candidate_form.html' %}
    <!-- include candidate modal -->
  </div>
</div>
<!-- home page -->

{% endblock %}

<!-- extend block -->
