<!-- load static -->
{% load static %}
<!-- load static -->

<nav class="bg-light pt-5 pb-5">
  <div class="container-fluid">
    <div class="d-flex justify-content-around">
      <div>
        <a class="navbar-brand" href="{% url 'home-page' %}"
          ><img
            src="{% static 'img/logo.png' %}"
            alt="logo"
            width="100"
            height="100"
          /><span class="fw-bold fs-3">MASAI TECHNICAL TRAINING INSTITUTE</span>
          <span class="text-danger fs-3 fw-bold mx-1">VOTING SYSTEM</span></a
        >
        <p class="ml-8">
          MTTI's voting system is a python-based online voting platform
          <br />
          backed with modern verification and authorization technologies.
        </p>
      </div>
      <div>
        <h4>Menu</h4>
        <ul class="footer-links">
          <li><a href="">FAQs</a></li>
          <li><a href="">Contact us</a></li>
          <li><a href="">Help center</a></li>
          <li><a href="">Privacy policy</a></li>
          <li><a href="">Terms & conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
